html {
  font-size: 62, 5%; /*1rem = 10px, 62.5% de 16px*/
}

body {
  margin: 10px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif; /*System font stack*/
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 4.209rem;
  margin: 3rem 0 3px;
}

h2 {
  font-size: 3.157rem;
}

p{
  color: #333;
  width: 50ch;
  /*text-align: center;
  text-indent: 1rem; queremos que el indent se aplique al segundo parrafo para eso: p + p 
  text-decoration: underline; linetrough se usa para precios que ya no están
  text-transform: capitalize; muy util para headings */
  /*Para truncar un texto necesitas cuatro propiedades:
  1. fixed width: 50ch;
  2. white-space: nowrap; una sola línea
  3. overflow: hidden; para ocultar el texto que se sale del contenedor
  4. text-overflow: ellipsis; para mostrar los puntos suspensivos (...)
  Hay otra propiedad para truncar texto por el número de líneas:
  line-clamp: 3; el texto se truncará después de 3 líneas.
  */
  white-space: nowrap;
  
}

@media screen and (min-width: 600px) {
  html {
    font-size: 100%; /*La fuente se va hacer grande automaticamente gracias a las unidades relativas.*/
  }
}
