<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercises</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/13_exercises.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="container">
          <li class="nav">About</li>
          <li class="nav">Courses</li>
          <li class="nav">Forum</li>
          <li class="nav">Lerning Paths</li>
          <li class="nav">Contact</li>
        </ul>
      </nav>
    </header>

    <main>
      <div class="containerGrid">
        <img class="box" src="https://picsum.photos/800/600?1" />
        <img class="box box-two" src="https://picsum.photos/800/600?2" />
        <img class="box" src="https://picsum.photos/800/600?3" />
        <img class="box" src="https://picsum.photos/800/600?4" />
        <img class="box" src="https://picsum.photos/800/600?5" />
        <img class="box" src="https://picsum.photos/800/600?6" />
        <img class="box" src="https://picsum.photos/800/600?7" />
        <img class="box" src="https://picsum.photos/800/600?8" />
        <img class="box" src="https://picsum.photos/800/600?9" />
      </div>
    </main>
  </body>
</html>
