<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Exercises</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/13_exercises.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul class="container">
          <li class="nav">About</li>
          <li class="nav">Courses</li>
          <li class="nav">Forum</li>
          <li class="nav">Lerning Paths</li>
          <li class="nav">Contact</li>
        </ul>
      </nav>
    </header>
  </body>
</html>
