<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>The Box Model</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/1_boxModel.css" />
  </head>
  <body>
    <main>
      <section>
        <h1>Box Model</h1>
        <img
          width="500px"
          src="layoutImages/Screenshot 2025-07-28 at 16.02.50.png"
        />
      </section>
      <section>
        <p id="p1">
          Lorem ipsum dolor sit amet. Chrome establece 16 px de margin por
          defecto.
        </p>
        <p id="p2">Lorem ipsum dolor sit amet.</p>
        <p id="p2">Lorem ipsum dolor sit amet.</p>
        <article>
          <h2>Margin collapsing</h2>
          <p>
            Técnicamente debes usar the margin property to separate elements and
            the padding property to add space the border and the content area of
            an element.
          </p>
        </article>
      </section>

      <section>
        <h1>Sizing Elements</h1>
        <div class="box"></div>
        <p>
          Para tener dos o más cursores: Option + click o Cmd + D y click <br />
          Para duplicar una linea: Option + Shift + Down Arrow
        </p>
        <!--Si quieres que las cajas no tengan ningún espacio en medio tienes que ponerlas juntas: -->
        <span class="box2"></span><span class="box2"></span>
      </section>
    </main>
  </body>
</html>
