<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Measurement Units</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/2_measuementUnits.css" />
  </head>
  <body>
    <main>
      <h3>Measurement Units</h3>
      <table>
        <thead>
          <tr>
            <th>Absolute</th>
            <th>Relative</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Nunca cambian</td>
            <td>Relativos a algo más</td>
          </tr>
          <tr>
            <td>px</td>
            <td>%: relative to the size of the container, parent element</td>
          </tr>
          <tr>
            <td>pt</td>
            <td>vw: relative to the viewport</td>
          </tr>
          <tr>
            <td>in</td>
            <td>vh: relative to the viewport</td>
          </tr>
          <tr>
            <td>cm</td>
            <td>em: relative to the font size</td>
          </tr>
          <tr>
            <td>mm</td>
            <td>rem: relative to the font size</td>
          </tr>
        </tbody>
      </table>
      <p>
        El uso de una determinada unidad depende del problema que estés
        intentando resolver. Por cierto, para web solo usamos px.
      </p>
      <section>
        <h3>Pruebas:</h3>
        <div class="box">
          <p>
            La unidad <strong>rem</strong> es ventajosa porque se basa en el
            tamaño de fuente raíz (<code>html</code>). Si el usuario o el
            navegador cambia el tamaño de fuente por defecto, todos los
            elementos que usan <strong>rem</strong> escalarán proporcionalmente,
            mejorando la accesibilidad y la adaptabilidad del diseño.
          </p>
        </div>
        <p>
          Por defecto el height de los block-level elements es 0 y el width
          100%. Si añades elementos dentro, el height aumenta automaticamente.
        </p>
        <div></div>
      </section>
    </main>
  </body>
</html>
