<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating Elements</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/4_floatingElements.css" />
  </head>
  <body>
    <header>
      <h1>Floating Elements</h1>
    </header>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
    </article>
    <article>
      <h2>Problema con float</h2>
      <p>
        Se produce parent collapsing, significa que los padres no ven los float
        elements y estos colapsan. Hay dos soluciones:
      </p>

      <ol>
        <li>
          Agregar un elemento con clear: both; En este caso un div con la clase
          clear. Cada vez que uses float, debes agregar un elemento con clear.
          Esta opción no es buena, ya que es un elemento extra que no aporta
          nada al browser engines.
        </li>
        <li>Podemos usar pseudoelementos.</li>
        <li>Podemos usar the overflow property.</li>
      </ol>
    </article>
    <article>
      <p>
        En general los floating elements dan problemas por que no se ajustan al
        padre, antes se usaba, ahora ya no tanto porque hay otras formas de
        hacer layouts, como flexbox y grid. Webs antiguas podrian seguir
        usandolos, por eso te viene bien saberlo.
      </p>
    </article>
  </body>
</html>
