<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating Elements</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/4_floatingElements.css" />
  </head>
  <body>
    <header>
      <h1>Floating Elements</h1>
    </header>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <!-- Estos párrafos no tienen ningun espacio con respecto al div, tendrás
       que aplicar un margin al div o a los párrafos.-->
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Facere dolorem
        qui ea expedita voluptatibus nemo labore perspiciatis aliquam! Eos,
        soluta reprehenderit laboriosam eveniet ipsa labore beatae ratione vel
        at voluptas ab autem et optio, distinctio eum? Unde sint, sed, earum
        rerum dicta iure suscipit doloremque porro ad deserunt nemo eaque?
      </p>
    </article>
  </body>
</html>
