<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Floating Elements</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/4_floatingElements.css" />
  </head>
  <body>
    <header>
      <h1>Floating Elements</h1>
    </header>
    <article class="tweet">
      <div class="avatar"></div>
      <p>Lorem ipsum dolor sit amet.</p>
      <div class="clear"></div>
    </article>
    <article>
      <h2>Problema con float</h2>
      <p>
        Se produce parent collapsing, significa que los padres no ven los float
        elements y estos colapsan. Hay dos soluciones:
      </p>

      <ul>
        <li>
          Agregar un elemento con clear: both; En este caso un div con la clase
          clear. Cada vez que uses float, debes agregar un elemento con clear.
          Esta opción no es buena, ya que es un elemento extra que no aporta
          nada al browser engines.
        </li>
        <li>Podemos usar pseudoelementos.</li>
      </ul>
    </article>
  </body>
</html>
