<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Flex Box</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/5_flexBox.css" />
  </head>
  <body>
    <header>
      <h1>Flexible Box Layout</h1>
    </header>
    <main>
      <p>Used for laying out elements in one direction, row and colum.</p>
      <section>
        <div class="container">
          <div class="box">A</div>
          <div class="box">B</div>
          <div class="box">C</div>
        </div>
      </section>
    </main>
  </body>
</html>
