<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Grid</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/6_grid.css" />
  </head>
  <body>
    <header>
      <h1>Grid</h1>
    </header>
    <main>
      <p>Zen coding: .box y te crea un div con clase box</p>
      <div class="container">
        <div class="box box-one">A</div>
        <div class="box">B</div>
        <div class="box">C</div>
        <div class="box">D</div>
      </div>
      <h3>Aligning items</h3>
      <ul>
        <li>justify-items -along the horizontal axis-</li>
        <li>align-items -along the vertical axis-</li>
      </ul>
      <h3>GAP</h3>
      <ul>
        <li>row-gap</li>
        <li>column-gap</li>
        <li>gap -para ambos-</li>
      </ul>
      <h3>Placing items</h3>
      <p>Cone estas controlamos donde exactamente el item should be placed.</p>
      <ul>
        <li>grid-row</li>
        <li>grid-column</li>
        <li>gri-area -para ambos-</li>
      </ul>
    </main>
  </body>
</html>
