<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Media Queries</title>
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/7_mediaQueries.css" />
  </head>
  <body>
    <header>
      <h1>Media Queries</h1>
    </header>
    <main>
      <p>
        To provide different styles for different devices dependin on their
        features sucha s screen size, orientation, resolution, and more, we use
        media queries.
      </p>
      <h2>Responsive design</h2>
      <ul>
        <li>Desktop first</li>
        <li>
          Mobile first: casi todo el mundo diseña primero para el móvil. Por
          otro lado si empiezas con desktop, puedes tener problemas porque
          tendrias que squeeze a lot of things.
        </li>
      </ul>
      <section>
        <h2>Empezamos</h2>
        <div class="container">
          <div class="box">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae
              maiores perferendis laudantium, accusamus ut tempore praesentium,
              facilis fugit debitis dolor at adipisci nostrum omnis earum. Nulla
              sed ullam dolore iure!
            </p>
          </div>
          <div class="box">
            <p>
              Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sed
              maiores at quos dolorum quibusdam possimus consequatur tempore eos
              delectus iste, eligendi cupiditate illum alias ex eaque! Aperiam
              quas ad sint?
            </p>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
