*,
*::before,
*::after {
  box-sizing: border-box; /* hace que el width y height incluyan el padding y border */
} /* * solo no aplica a los pseudo-elementos ni a los pseudo-selectores (afte, before...) */

body {
  margin: 10px;
}
#p1 {
  padding: 10px 20px; /* vertical and horizontal padding */
  border: 5px solid gold;
}

/* #p2 {
    padding: 20px; // los paddings no collapsan entre parrafo y parrafo habrán
    40 px de espacio.
    margin: 0px; /* get rid of default margin */
#p2 {
  padding: 0;
  margin: 20px; /* entre párrafo y párrafo habrá 20px de espacio */
  /*margin collapsing */
}

.box {
  /* El width y height aplican al contenido exclusivamente, el padding y border se suman al tamaño total del elemento */
  width: 100px;
  height: 100px;
  background-color: gold;
  /* Pero el margin no se suma, es un espacio externo, it will just move this box
    away from other boxes */
  padding: 10px;
  border: 20px solid dodgerblue;
  margin: 50px;
  /* calcular el tamaño real de la caja es complicado, necesitas the box-sizing property */
  /* por defecto el box-sizing es content-box, lo que significa que el width y height son del contenido */
  /* si quieres que el width y height incluyan el padding y border, usa border-box */
  /* box-sizing: border-box;
     Ahora no queremos aplicar esta propiedad a todos los elementos todo el tiempo, por eso usamos el universal selector: *, sí, es un asterisco. Y lo poneas al principio del todo. */
}

/* Otra cosa importante: the width and height properties only apply to block-level elements, like divs, sections, etc. 
Los inline-elements no respetan the width and height.
Y si quieres darel a un inline element width and height????
Es entonces cuando usas the display property, for span or inline-elements, this property is set to inline by default.
for divs is set to block.
Pero tenemos un tercer valor: inline-block, al igual que los block-level
elements tienen width y height y al igual que los inline no se insertan en una nueva linea. */

.box2 {
  width: 50px;
  height: 50px;
  background-color: dodgerblue;
  margin: 0;
  display: inline-block;
  /* ahora este elemento es un inline-block, por lo que tiene width y height y además no se inserta en una nueva linea.*/
}

.box2::before {
  content: "Hello"; /* esta propiedad solo se usa con pseudo elementos */
}

/*OVERFLOWING*/

.box3 {
  border: 3px solid gold;
  width: 150px;
  height: 150px;
  /*overflow: auto;
   esta propiedad is a shorthand for overflow-x and overflow-y */
  overflow: hidden /* para ocultar la barra horizontal */ auto
    /* para mostrar la barra si es necesaria.*/;
}
