*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 10px;
  width: 300px;
}

table,
th,
td {
  border: 3px solid dodgerblue;
  border-collapse: collapse;
  padding: 5px 10px;
}

th {
  color: white;
  background-color: dodgerblue;
}

.box {
  /* 50% of the width of the parent */
  /* fijate que al final el browser lo convierte a px: 150 px
  width: 50%; /* el padre es el body element*/
  height: 100px;
  background-color: gold;
  border-top: 3px solid orange; /* esta es una de las aplicaciones comunes del uso de px */
}
