*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 10px;
  /* 
    Por defecto, los elementos de tipo block (como <body>, <div>, <p>, etc.)
    tienen un width del 100% de su contenedor padre, aunque no se especifique.
    Esto significa que ocupan todo el ancho disponible automáticamente.
  */
}
table,
th,
td {
  border: 3px solid dodgerblue;
  border-collapse: collapse;
  padding: 5px 10px;
}

th {
  color: white;
  background-color: dodgerblue;
}

.box {
  /* 50% of the width of the parent, if you resized the browser window our
  box also get resized. Este es el beneficio de los relative units, con
  ellos podemos crear Layouts that adjust broser screen sizes. We can create
  more scalable layouts.*/
  /* fijate que al final el browser lo convierte a px: 150 px*/
  width: 50%; /* el padre es el body element*/
  height: 100px;
  background-color: gold;
  border-top: 3px solid orange; /* esta es una de las aplicaciones comunes del uso de px */
  /* si el width del padre (body) no se especifica tomará el 50% del 100% de ancho */
}
