html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
  height: 200vh; /* Cualquiera que sea el tamaño del viewport, 
  lo multiplicamos por 2. Para que haya espacio para hacer scroll */
}

.boxes {
  border: 3px solid black;
  position: relative;
}
/* There are two ways to set th size of position elements:
    1. Using width and height
    2. Combination of top, right, bottom, left
    In this case, we will use width and height */

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  position: fixed;
  top: 0;
  left: 2rem;
  right: 2rem;
  width: auto; /* This will make the box take the full width of the viewport minus the left and right margins */
  z-index: 1;
}

.box-three {
  background-color: dodgerblue;
}
