html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
  height: 200vh; /* Cualquiera que sea el tamaño del viewport, 
  lo multiplicamos por 2. Para que haya espacio para hacer scroll */
}

.boxes {
  border: 3px solid black;
  position: relative; /* Establecemos el contenedor como relativo para que los hijos absolutos se posicionen respecto a él */
}

.box {
  width: 5rem;
  height: 5rem;
}

.box-one {
  background-color: gold;
}
/* A veces querremos que un elemento se posicione en relación al viewport, 
   en lugar de a su contenedor. Para esto usamos position: fixed */
.box-two {
  background-color: tomato;
  /* Por defecto el elemento tiene position: static, 
     pero podemos cambiarlo a relative para poder usar top, left, etc. */
  position: fixed;
  top: 0; /* Posiciona el elemento 0px desde la parte superior del viewport y se va a quedar
  ahi aunque hagas scroll. Lo podrias usar para una top navigation bar */
}

.box-three {
  background-color: dodgerblue;
}
