html {
  font-size: 62.5%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 10px;
}

.boxes {
  border: 3px solid black;
  position: relative; /* Establecemos el contenedor como relativo para que los hijos absolutos se posicionen respecto a él */
}

.box {
  width: 5rem;
  height: 5rem;
}
/*Con relative el elemento se posiciona con respecto a su posicion original, con absolute
con respecto a su padre o contenedor. */
.box-one {
  background-color: gold;
}

.box-two {
  background-color: tomato;
  /* Por defecto el elemento tiene position: static, 
     pero podemos cambiarlo a relative para poder usar top, left, etc. */
  position: absolute;
  right: 0; /* Se posiciona a la derecha del contenedor */
  bottom: 0; /* Se posiciona en la parte inferior del contenedor */
}
/* La propiedad position: absolute hace que el elemento se posicione en relación a su contenedor más cercano con position: relative, 
   en este caso, .boxes. Si no hay un contenedor relativo, se posiciona en relación al viewport. */

/* when we absolutely postion an element, that element is removed from the normal flow ot 
the page, and all the other elements will rend as if that element does not exist. */
.box-three {
  background-color: dodgerblue;
}
