*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 10px;
}
.tweet {
  border: 3px solid black;
  /* Cualquier value other than visible, como hidden, scroll, auto, o inherit, hará que el elemento no se ajuste a los elementos flotantes. 
  Podrias usar auto pero el problema es que podrias terminar con scroll bars.
  Con hidden el contenido se podria cortar.
  Asi que overflow no es la mejor manera de resolver este problema.
  Usar esta opción es un hack: a dirty solution.*/
  overflow: auto;
}
/*De esta manera no contaminamos nuestro html*/
.tweet::after {
  content: " "; /* como es un inline element, usaremos display block para que se comporte como un bloque */
  display: block;
  clear: both;
}
/* Ahora, habrán más elementos que necesitarán clear: asi que creas una clase general, todos le ponen el mismo nombre:*/
.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  /* this will float the avatar element to the left side of its container, el resto se alineará
a la derecha de avatar. */
  float: left;
  margin-right: 0.5rem; /* usamos rem para que si text size changes the sapace also changes accordingly.*/
}

/*Si queremos que el texto deje de ajustarse alrededor del avatar, podemos usar clear.*/
/* clear: both; significa que el elemento no se ajustará a la izquierda ni a la derecha de los elementos flotantes anteriores.*/

.clear {
  clear: both; /* becuase we have an element floating to the left, puedes usar -both- */
}
