body {
  margin: 10px;
}

/* Para poner los elementos en horizontal: */
.container {
  border: 3px solid grey;
  display: flex; /* ya está */
  flex-direction: row; /* también tienes column-reverse, también row-reverse (esto se usa en right to left languages)*/
  /* si queremos que los elementos se alineen a lo largo de todo el contenedor */
  justify-content: space-between; /* por defecto es flex-start.. también tienes space-between */
}

.box {
  width: 5rem;
  height: 5rem;
  background-color: dodgerblue;
  margin: 1rem;
}
