body {
  margin: 10px;
}

.container {
  border: 3px solid grey;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 70vh;
}
/*Ahora queremos mover una sola caja hacia arriba.*/
.box {
  flex-basis: 10rem; /* por defecto es auto: el browser va a buscar the width.
  Si lo cambias va hacer override del width por que estmos en row, si lo ponemos en colum el override
  va a aplicar al height.*/
  width: 5rem;
  height: 5rem;
  background-color: dodgerblue;
  margin: 1rem;
}

.box-one {
  flex-basis: 5rem;
}
