body {
  margin: 10px;
}

.container {
  display: grid;
  /* 3 x 2 */
  grid-template-rows: repeat(3, 100px); /* facilita los cambios */
  grid-template-columns: repeat(2, 100px); /* facilita los cambios */
  border: 3px solid dodgerblue;
}
