body {
  margin: 10px;
}

.container {
  display: grid;
  /* 3 x 2 */
  grid-template: repeat(3, 100px) / repeat(2, 100px); /* shorthand syntax */
  border: 3px solid dodgerblue;
}

.box {
  width: 5rem;
  height: 5rem;
  background-color: gold;
}
