body {
  margin: 10px;
}

/* mobile firs approach */
.container {
  display: flex;
  flex-direction: column;
}

.box {
  background: gold;
  padding: 1rem;
}

.box:nth-of-type(2) {
  background: dodgerblue;
}

/* a breakpoint is when our design breaks */
/*Our mediatype can be a screen or print*/
@media screen and (min-width: 600px) {
  .container {
    flex-direction: row;
  }
}

@media screen and (min-width: 900px) {
  .container {
    flex-direction: row;
  }
  .box {
    background: white;
  }
}

@media print {
  body {
    font-size: 12pt; /* Estamos usando pt porque es una unidad absoluta para impresión */
  }

  .box {
    padding: 0.5cm; /* Ajustamos el padding para impresión */
  }
}
